<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/book_king?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="model/Admins.hbm.xml"/>
    <mapping resource="model/Transactions.hbm.xml"/>
    <mapping resource="model/TransLists.hbm.xml"/>
    <mapping resource="model/Status.hbm.xml"/>
    <mapping resource="model/Authors.hbm.xml"/>
    <mapping resource="model/Books.hbm.xml"/>
    <mapping resource="model/Customers.hbm.xml"/>
    <mapping resource="model/Genres.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
